<!-- ABOUT SECTION -->
<section id="about">
    <p class="section__text__p1">Get To Know More</p>
    <p class="title">About Me</p>
    <div class="section-container">
        <img src="./assets/about-me-pic.jpg" alt="About Me Image" class="about-pic">
        <div class="about-details-container">
            <div class="about-containers">
                <div class="details-container">
                    <img src="./assets/experience.png" alt="Experience Icon" class="icon">
                    <h3>Self-taught</h3>
                    <p><b>Programmer</b></p>
                </div>
                <div class="details-container">
                    <img src="./assets/education.png" alt="Education Icon" class="icon">
                    <h3>Education</h3>
                    <p>Bachelor of Science in<br>Computer Science</p>
                </div>
            </div>
            <div class="text-container">
                <p>Hey there! I'm Muelvin Lopez, but you can call me <b>Muelvz</b> for short. I like building programs that solve problems or problems of others. I constantly strive for improvement, often following entreprenurial influencers to learn the best strategies or mindsets when it comes to becoming successful in this day and age. I am committed, proactive, and an avid learner with a thirst of seeking real-world experiences outside the classroom.</p>
                <br>
                <p>When I am not working for my goals, yu'll find me binge-watching various types of entertainment from Anime's or International films.</p>
            </div>
        </div>
    </div>
</section>