<!-- PROFILE SECTION -->
<section id="profile">
    <div class="section__pic-container">
        <img src="./assets/profile-pic.png" alt="Muelvin Lopez Profile Picture">
    </div>
    <div class="section__text">
        <p class="section__text__p1">Ahoy! I'm</p>
        <h1 class="title">Muelvin Lopez</h1>
        <p class="section__text__p2">College Student</p>
        <div class="btn-container">
            <button class="btn btn-color-2" onclick="window.open('./assets/resume.pdf')">Download CV</button>
            <button class="btn btn-color-1" onclick="location.href = './#contact'">Contact Info</button>
        </div>
        <div class="socials-container">
            <img src="./assets/linkedin.png" alt="My Linkedin profile" class="icon" onclick="location.href='https://www.linkedin.com/in/psalm-muelvin-lopez-003a78227/'">
            <img src="./assets/github.png" alt="My GitHub profile" class="icon" onclick="location.href='https://github.com/Muelvzz'">
        </div>
    </div>
</section>