<!-- PROJECTS SECTION -->
<section id="projects">
    <h1 class="title">Projects</h1>
    <div class="container">
        <div class="card-wrapper swiper">
            <ul class="card-list swiper-wrapper">
                <li class="card-item swiper-slide">
                    <a href="https://github.com/Muelvzz/coding_journal" class="card-link">
                        <img src="./assets/project-img/coding-journ.png" alt="CodingJourn" class="card-image">
                        <p class="badge">Full-stack Website</p>
                        <h2 class="card-title">CodingJourn Blogging Site</h2>
                        <p><b>Tech Stack: </b>HTML/CSS and JavaScript, Python(Flask), and MySQL</p>
                        <button class="card-button material-symbols-rounded">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="https://github.com/Muelvzz/flashcards" class="card-link">
                        <img src="./assets/project-img/flashcard-project.png" alt="Flashcard Web App" class="card-image">
                        <p class="badge">Web App</p>
                        <h2 class="card-title">Flashcard Web App</h2>
                        <p><b>Tech Stack:</b>HTML/CSS and JavaScript, Python(Flask), and SQLite</p>
                        <button class="card-button material-symbols-rounded">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="https://github.com/Muelvzz/weather-api" class="card-link">
                        <img src="./assets/project-img/weather-api.webp" alt="Weather Forecaster" class="card-image">
                        <p class="badge">Web App</p>
                        <h2 class="card-title">Weather Forecaster</h2>
                        <p><b>Tech Stack:</b>HTML/CSS and JavaScript, Python</p>
                        <button class="card-button material-symbols-rounded">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="https://github.com/Muelvzz/library-management-system" class="card-link">
                        <img src="./assets/project-img/library-mng.webp" alt="Library Management" class="card-image">
                        <p class="badge">Web App</p>
                        <h2 class="card-title">Library Management System</h2>
                        <p><b>Tech Stack:</b>Python(Streamlit)</p>
                        <button class="card-button material-symbols-rounded">arrow_forward</button>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="https://github.com/Muelvzz/random-quote-generator" class="card-link">
                        <img src="./assets/project-img/random-quote.webp" alt="Random Quote Generator" class="card-image">
                        <p class="badge">Web App</p>
                        <h2 class="card-title">Random Quote Generator</h2>
                        <p><b>Tech Stack:</b>Python(Streamlit)</p>
                        <button class="card-button material-symbols-rounded">arrow_forward</button>
                    </a>
                </li>
            </ul>

            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>