<!-- PROJECTS SECTION -->
<section id="projects">
    <h1 class="title">Projects</h1>
    <p class="section__text__p1">Check out my Best Projects</p>
    <div class="best-projects-container">
        <div class="project-one">
            <a href="https://github.com/Muelvzz/coding_journal" class="best-projects-link">
                <img src="./assets/project-img/coding-journ.png" alt="CodingJourn" class="best-projects-img">
            </a>
            <div class="best-projects-description">
                <h3 class="best-projects-title">CodingJourn Blogging Site</h2>
                <p><b>Tech Stack: </b>HTML/CSS and JavaScript, Python(Flask), and MySQL</p>
                <p>A full-stack website that allows the user to create, update, and delete their own journal blog post. Website features include user authentication, and can have multiple users.</p>
            </div>
        </div>
        <div class="project-two">
            <a href="https://github.com/Muelvzz/flashcards" class="best-projects-link">
                <img src="./assets/project-img/flashcard-project.png" alt="Flashcard Web App" class="best-projects-img">
            </a>
            <div class="best-projects-description">
                <h3 class="card-title">Flashcard</h2>
                <p><b>Tech Stack:</b>HTML/CSS and JavaScript, Python(Flask), and SQLite</p>
                <p>Another full-stack web application but is not as featured-pack as the CodingJourn. The projects contains simple features like adding, and deleting flashcards using SQLite.</p>
            </div>
        </div>
    </div>
</section>

<section id="project">

    <p class="section__text__p1">My other projects...</p>
    <div class="projects-container">
        <div class="projects">
            <a href="https://github.com/Muelvzz/weather-api" class="project-link">
                <img src="./assets/project-img/weather-api.webp" alt="Weather Forecaster" class="project-img">
            </a>
            <div class="project-description">
                <h2 class="card-title">Weather Forecaster</h2>
                <p><b>Tech Stack:</b>HTML/CSS and JavaScript, Python</p>
            </div>
        </div>
        <div class="projects">
            <a href="https://github.com/Muelvzz/library-management-system" class="project-link">
                <img src="./assets/project-img/library-mng.webp" alt="Library Management" class="project-img">
            </a>
            <div class="project-description">
                <h2 class="card-title">Library Management System</h2>
                <p><b>Tech Stack:</b>Python(Streamlit), SQLite</p>
            </div>
        </div>
        <div class="projects">
            <a href="https://github.com/Muelvzz/random-quote-generator" class="project-link">
                <img src="./assets/project-img/random-quote.webp" alt="Random Quote Generator" class="project-img">
            </a>
            <div class="project-description">
                <h2 class="card-title">Random Quote Generator</h2>
                <p><b>Tech Stack:</b>Python(Streamlit), SQLite</p>
            </div>
        </div>
    </div>
</section>